Source: sidux-framework
Section: main
Priority: extra
Maintainer: Andreas Weber <andreas@it-weber.com>
Build-Depends: cdbs, debhelper (>= 6), dpatch
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-framework/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-framework/trunk/

Package: sidux-framework
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sidux-scripts 
Description: Sidux Scripting Framework
 This package will help to create Sidux based Scripts and reusing/sharing Code
